@import "tailwindcss";

:root {
  --background: #FDFCF8;
  --foreground: #27272a;
  --emerald-600: #059669;
  --emerald-700: #047857;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FDFCF8;
    --foreground: #27272a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
